<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Usuarios</title>
    
    <link rel="stylesheet" type="text/css" href="css/styles_User.css">
</head>
<body>
<div class="admin-header">
    <h1>Panel de Administración - Usuarios</h1>
</div>
<div class="admin-container">
    <h2>Listado de Usuarios</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Contraseña</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Itera sobre la lista de usuarios -->
            <tr th:each="user : ${users}">
                <td th:text="${user.identificacion}">1</td>
                <td th:text="${user.nombres}">Juan Pérez</td>
                <td th:text="${user.apellidos}">Pérez</td>
                <td th:text="${user.email}">juan.perez@example.com</td>
                <td th:text="${user.contrasena}">********</td>
           
                <td>
                    <form th:action="@{/edit/{id}(id=${user.identificacion})}" method="get" class="action-form">
                        <button type="submit" class="button edit-button">Editar</button>
                    </form>
                    <form th:action="@{/delete/{id}(id=${user.identificacion})}" method="post" class="action-form">
                        <button type="submit" class="button delete-button">Eliminar</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
