/* Estilos para el encabezado y la navegación */
body {
    margin: 0;
    font-family: "Oswald", sans-serif;
}
header {
    position: relative;
    background-color:#E1D3BD ;
    width: 100%;
    color: #513D27;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

body.fixed-header {
    padding-top: 250px;
}

h1 {
    margin: 0;
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 10px;
}

nav ul li a {
    color: #76665A;
    margin: 35px;
    text-decoration: none;
    font-size: 1.2em;
    transition: all 0.3s;

}

nav ul li a:hover {
    border-radius: 5%;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.5);
    color: #9F6E2F;
}

nav{
    justify-content: center;
    align-items: center;

}

.middle-container{
    flex: 3;
}

.middle-container h1{
    margin-bottom: 3vh;
    font-family: "Lobster", sans-serif;
    font-size: 3em;
}
.right-container {
    flex: 1;
}
.logo-container{
    height: 200px;
    width: 200px;
    border-radius: 100%;
    flex:1;
}

.logo-container img{
    border-radius: 100%;
    width: 70%;
    height: 100%;
}

.user-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.user-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
}
.user-info-container a{
    text-decoration: none;
    color: #513D27;
}

.user-img{
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.button{
    background-color: #9F6E2F;
    color: #F4EFEC;
    padding: 10px 20px;
    border: none;
    border-radius: 7%;
    cursor: pointer;
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s;
}

.send-button{
    background-color: #E38E39;
    color: #432E1B;
    padding: 10px 20px;
    border: none;
    border-radius: 200px;
    cursor: pointer;
    font-size: 0.9em;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s;
}

.button:hover{
    background-color: #916226;
    color: white;
    text-decoration: underline white ;
}

.logout-button{
    background-color: #7e2828;
    color: #F4EFEC;
    padding: 10px 20px;
    border: none;
    border-radius: 7%;
    cursor: pointer;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s;
}

.logout-button:hover{
    background-color: #5e1f1f;
    color: white;
    text-decoration: underline white ;
}

.send-button:hover{
    background-color: #9a6830;
    color: white;
    text-decoration: underline white ;
}


