/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos para el encabezado */
.admin-header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.admin-header h1 {
    margin: 0;
}

/* Estilos para el contenedor principal */
.admin-container {
    margin: 20px;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

/* Estilos para botones de acción */
.action-form {
    display: inline;
    margin-right: 5px;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.edit-button {
    background-color: #008CBA;
}

.delete-button {
    background-color: #f44336;
}

.comments-button {
    background-color: #FFA500; /* Botón de comentarios en color naranja */
}

/* Estilos para botones en hover */
.button:hover {
    opacity: 0.8;
}
