<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles_footer.css}">
</head>
<body>
<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h3>Sobre Nosotros</h3>
            <p>Viaje Feliz es una empresa dedicada a ofrecer las mejores experiencias de viaje a los destinos más exóticos del mundo.</p>
        </div>
        <div class="footer-section">
            <h3>Enlaces Rápidos</h3>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/home">Sobre nosotros</a></li>
                <li><a href="/home">Contacto</a></li>
                <li><a href="/destinations">Destinos</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Contáctanos</h3>
            <p>Correo Electrónico: <a href="mailto:info@viajefeliz.com">info@viajefeliz.com</a></p>
            <p>Teléfono: +123 456 7890</p>
            <div class="social-media">
                <a href="#">
                    <img th:src="@{/images/facebook_ico.png}" alt="Facebook">
                </a>
                <a href="#">
                    <img th:src="@{/images/twitter_ico.png}" alt="Twitter">
                </a>
                <a href="#">
                    <img th:src="@{/images/instagram_ico.png}" alt="Instagram">
                </a>

            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2024 Viaje Feliz. Todos los derechos reservados.</p>
    </div>
</footer>
</body>
</html>