<header id="main-header">
    <div class="logo-container">
        <img th:src="@{/images/logo_viaje_feliz.png}" alt="Logo">
    </div>

    <div class="middle-container">
        <nav>
            <h1>Viaje Feliz</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#about">Sobre nosotros</a></li>
                <li><a href="#contact">Contacto</a></li>
                <li><a href="/destinations">Destinos</a></li>
            </ul>
        </nav>
    </div>

    <div class="right-container">
        <div th:unless="${session.userAuth != null}">
            <div class="dropdown">
                <button class="dropbtn">Ingresar</button>
                <div class="dropdown-content">
                    <a href="/login">Iniciar sesión</a>
                    <a href="/register">Registrar Usuario</a>
                </div>
            </div>
        </div>
        <div th:if="${session.userAuth != null}" class="user-container">
            <div class="user-info-container">
                <img class="user-img" th:src="@{/images/user_ico.png}" alt="Foto de perfil">
                <a href="/user-profile"><span th:text="${session.userAuth.nombres+' '+session.userAuth.apellidos}"></span></a>
            </div>
            <a class="logout-button" href="/logout">Cerrar Sesión</a>
        </div>
    </div>
</header>
