<header id="main-header">
    <div class="logo-container">
        <img th:src="@{/images/Icono.jpg.png}" alt="Logo">
    </div>

    <div class="admin-header">
        <h1>Panel de Administración</h1>
        <div class="admin-buttons">
            <a href="/admin/reservations" class="button">Gestión de Reservas</a>
            <a href="/admin/properties" class="button">Gestión de Propiedades</a>
            <a href="/admin/comments" class="button">Gestión de Comentarios</a>
            <a href="/admin/reservations" class="button">Gestión de Usuarios</a>
        </div>
    </div>
</header>
