<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Reservas</title>
    <link rel="stylesheet" type="text/css" href="css/styles_reserva.css">
</head>
<body>
<div class="admin-header">
    <h1>Panel de Administración - Reservas</h1>
</div>
<div class="admin-container">
    <h2>Listado de Reservas</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Comentarios</th>
                <th>Calificación</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Precio Total</th>
                <th>Mascotas</th>
                <th>Número de Personas</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Itera sobre la lista de reservas -->
            <tr th:each="reserva : ${reservas}">
                <td th:text="${reserva.idReserva}">1</td>
                <td th:text="${reserva.comentariosEncuesta}">Buen servicio</td>
                <td th:text="${reserva.califEncuesta}">5</td>
               
                <td th:text="${#dates.format(reserva.fechaIni, 'dd/MM/yyyy')}">01/01/2024</td>
                <td th:text="${#dates.format(reserva.fechaFin, 'dd/MM/yyyy')}">07/01/2024</td>
                <td th:text="${reserva.precioTotal}">500</td>
                <td th:text="${reserva.mascotas} ? 'Sí' : 'No'">Sí</td>
                <td th:text="${reserva.numPersonas}">4</td>
                <td>
                    <form th:action="@{/editar-reservas/{id}(id=${reserva.idReserva})}" method="get" class="action-form">
                        <button type="submit" class="button edit-button">Editar</button>
                    </form>
                    <form th:action="@{/delete/{id}(id=${reserva.idReserva})}" method="post" class="action-form">
                        <button type="submit" class="button delete-button">Eliminar</button>
                    </form>
                    <form th:action="@{/comentarios-reserva/{idReserva}(idReserva=${reserva.idReserva})}" method="get" class="action-form">
                        <button type="submit" class="button comments-button">Comentarios</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
